<div class="scrollable">
  	<h1 class="scrollable-header app-name">My App <small> v0.2</small></h1>  
	<div class="scrollable-content">
		<div class="list-group" ui-turn-off='uiSidebarLeft'>
		  	<a class="list-group-item" href="#/">Pogoda <i class="fa fa-chevron-right pull-right"></i></a>
		  	<a class="list-group-item" href="#/motion">Akcelerometr<i class="fa fa-chevron-right pull-right"></i></a>
			<a class="list-group-item" href="#/compass">Kompas<i class="fa fa-chevron-right pull-right"></i></a>
		</div>
	</div>
	<div class="scrollable-footer">
		<div class="list-group">
			<a href="https://github.com/amocarski/AngularJS-Web-Android-App" 
				class="list-group-item" >Kod źródłowy<i class="fa fa-github pull-right"></i></a>
			<a class="list-group-item" >Copyright by Adam Mocarski</i></a>
		</div>
	</div>
</div>